@import "./common/global";
@import "./common/layout";
@import "./common/section";
@import "./common/table";
@import "./components/resizer";
@import "./components/editor/variables";
@import "./components/editor/error-marker";
@import "./components/media-controls";
@import "./components/automata";

.main-frame {
  height: 100%;
  display: flex;
  padding-bottom: 45px;
}

.panel-left {
  position: relative;
  width: 450px;
  border-right: 1px solid #dfe2e5;
}

.panel-right {
  display: block;
  flex: 1;
  min-width: 0;
  position: relative;
  overflow: hidden;
}

.graph-dfa {
  /* cursor: grab; */
  cursor: default;
  user-select: none;
  scroll-behavior: smooth;

  &:not([data-scrollbar]) {
    will-change: scroll-position;
  }

  &.js-dragging {
    cursor: grabbing;
  }
}

.graph-overlay {
  z-index: 405;
}

.panel-resizer > .resizer {
  z-index: 406;
}

.panel-lexical {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid #dfe2e5;
}

.editor-rules.ace_editor,
.editor-code.ace_editor,
.code-marker {
  font-size: 14px;
  font-family: var(--editor-font-family);
}

.code-marker {
  background-color: #c7e987;
  min-width: 0.5em;
}

.section-rules,
.section-dfa {
  height: 100%;
}

.section-rules {
  position: absolute;
  width: 100%;
  z-index: 401;
  background-color: #fff;
  border-right: 1px solid #dfe2e5;
  box-sizing: content-box;
  left: -100%;
  transition: left 0.25s ease-out;

  &.expanded {
    left: 0;
  }
}

.section-code {
  height: 200px;
  max-height: 100%;
  border-bottom: 1px solid #dfe2e5;
}

.section-tokens {
  flex: 1;
}

#tokens-table {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;

  & th {
    text-transform: capitalize;
  }

  & th td {
    padding-left: 4px;
    padding-right: 4px;
  }

  & td:not(:nth-child(4)) {
    width: 1px;
    white-space: nowrap;
  }

  & td:nth-child(1),
  & td:nth-child(2) {
    text-align: center;
  }

  & td:nth-child(4) {
    white-space: pre;
    font-family: var(--editor-font-family);
  }
}
