@import "../common/global.css";
@import "../components/resizer.css";
@import "../components/editor/error-marker.css";
@import "../visual-dfa.css";
@import "./topbar.css";

body {
  height: 100%;
  /* refer: https://github.com/zenozeng/fonts.css */
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Open Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

.page-layout {
  height: 100%;
  position: relative;
  padding-top: 36px;
  overflow-x: hidden;
}

.topbar {
  position: absolute;
  top: 0;

  &,
  & .container {
    height: 36px;
    line-height: 36px;
  }
}

.topbar-menu > .item,
.topbar-menu > .right > .item {
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.footer {
  width: 100%;
  height: 42px;
  line-height: 42px;
  position: fixed;
  bottom: 0;
  background-color: #1b1c1d;
  color: #fff;
  overflow: hidden;
}

.main-frame {
  height: 100%;
  display: flex;
  padding-bottom: 42px;
}

.panel-left {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dfe2e5;
}

.panel-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  overflow: hidden;
}

.section-nfa {
  height: 50%;
  max-height: 100%;
  border-bottom: 1px solid #dfe2e5;
}

.section-grammar,
.section-dfa {
  flex: 1;
  min-height: 0;
}

.section-text {
  height: 50px;
  min-height: 50px;
  margin-right: -1px;

  & > .section-title {
    margin-top: 1px;
    margin-right: 1px;
  }
}

.section {
  position: relative;
  overflow: hidden;
}

.section-title {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 90;
  /* color: #004966; */
  /* background-color: #7fdbff; */
  font-size: 14px;
  color: #7f94a1;
  background-color: rgba(243, 245, 246, 0.8);
  padding: 3px 8px;
  border-radius: 20px;
  pointer-events: none;

  &:hover {
    color: #1c90f3;
  }
}

.section-body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.editor-text,
.editor-text-input {
  font-size: 18px;
  font-family: "Source Code Pro", consolas, "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

.editor-text-input {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #dfe2e5;
  background-color: transparent;
  padding: 5px 8px;

  &:focus {
    border-color: #2188ff;
    outline: none;
    box-shadow: inset 0 0 0 0.2em rgba(3, 102, 214, 0.3);
  }

  &[disabled] {
    user-select: none;
    box-shadow: inset 0 0 0 0.2em rgba(238, 238, 238, 0.8);
  }
}

.editor-text .marker {
  position: absolute;
  top: 50%;
  min-width: 1px;
  height: 2em;
  background-color: #c7e987;
  z-index: -1;
  margin-left: 9px;
  display: none;
  transform: translateY(-50%);
  transition: left 0.25s ease-out, width 0.25s;

  &.show {
    display: block;
  }
}

.graph-nfa,
.graph-dfa {
  /* cursor: grab; */
  cursor: default;
  user-select: none;

  &.js-dragging {
    cursor: grabbing;
  }
}

.section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 195;
  font-size: 14px;
  display: none;

  &.show,
  &.js-show,
  &.js-loading,
  &.js-error {
    display: block;
  }

  &.animate {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0s 0.2s;

    &.show,
    &.js-show,
    &.js-loading,
    &.js-error {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.2s linear;
    }
  }

  &.js-loading > .loader {
    display: block;
  }

  &.js-error > .error-tip {
    display: block;
  }

  & > .loader,
  & > .error-tip {
    display: none;
    position: absolute;
    min-width: 32px;
    min-height: 32px;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 1em;
    line-height: 1;
    font-style: normal;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.9);
  }

  & > .loader {
    padding-top: calc(32px + 8px);

    &:empty {
      padding-top: 0;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      width: 32px;
      height: 32px;
      margin-left: -20px;
      border-radius: 50%;
    }

    &::before {
      border: 0.2em solid rgba(255, 255, 255, 0.15);
    }

    &::after {
      border-width: 0.2em;
      border-style: solid;
      border-color: #fff transparent transparent;
      animation: loader 0.6s linear;
      animation-iteration-count: infinite;
    }
  }

  & > .error-tip {
    &::before {
      content: "\f071";
      display: block;
      margin-bottom: 8px;
      font-family: FontAwesome;
      font-size: 32px;
      text-rendering: auto;
      color: #ff4136;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

@keyframes loader {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.graph-overlay {
  z-index: 405;
}

.footer > .media-controls {
  padding: 0 0.95rem;
  text-align: center;
  position: relative;

  & > .speed-control {
    left: 0;
    top: 0;
  }

  & .play-control,
  & .footer-links {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;

    & > li {
      display: inline-block;
      font-size: 14px;
      vertical-align: middle;
    }

    & a {
      color: #ddd;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }

  & .play-control {
    user-select: none;

    & > li {
      overflow: hidden;
      max-width: 42px;
    }

    & a {
      display: block;
      width: 42px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &:active {
        background-color: rgba(255, 255, 255, 0.15);
      }

      &.larger {
        font-size: 1.5em;
      }
    }

    &.disabled a,
    & a.disabled {
      background: none;
      color: #777;
      cursor: default;
      pointer-events: none;
    }

    &.disabled .btn-play-pause .icon,
    & .btn-play-pause.disabled .icon {
      & .part-a,
      & .part-b {
        background-color: #777;
      }
    }

    & .beginning,
    & .step-backward,
    & .play,
    & .pause,
    & .restart,
    & .stop,
    & .step-forward,
    & .ending {
      font-family: FontAwesome;
    }

    & .beginning::before {
      content: "\f049";
    }

    & .step-backward::before {
      content: "\f048";
    }

    & .restart::before {
      content: "\f01e";
    }

    & .stop::before {
      content: "\f04d";
    }

    & .step-forward::before {
      content: "\f051";
    }

    & .ending::before {
      content: "\f050";
    }

    & .btn-play-pause .icon {
      position: relative;
      width: 18px;
      height: 18px;
      overflow: hidden;
      top: calc((42px - 18px) / 2);
      margin: 0 auto;
      opacity: 1;
      transition: transform 0.3s ease-in-out, opacity 0.3s linear;

      &::before,
      &::after,
      & .part-a,
      & .part-b {
        transition: transform 0.3s ease-in-out;
      }

      & .part-a,
      & .part-b {
        display: block;
        height: 50%;
        background-color: #ddd;
      }

      & .part-a {
        transform-origin: 50% 0;
      }

      & .part-b {
        transform-origin: 50% 100%;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: calc(2.4 / 2 * 18px);
        height: calc(2.4 / 5 * 18px);
        background-color: #1b1c1d;
        z-index: 1;
      }

      &::before {
        bottom: 18px;
        transform-origin: 0 100%;
      }

      &::after {
        top: 18px;
        transform-origin: 0 0;
      }
    }

    & .play .icon,
    & .pause .icon {
      display: block;
    }

    & .btn-play-pause {
      position: relative;
      height: 42px;

      &:hover .icon .part-a,
      &:hover .icon .part-b {
        background-color: #fff;
      }

      &.play {
        & .icon::before {
          transform: rotate(0.46364760900080611621425623146121rad);
        }

        & .icon::after {
          transform: rotate(-0.46364760900080611621425623146121rad);
        }
      }

      &.pause {
        & .icon {
          transform: rotate(90deg) scale(1);
        }

        & .part-a,
        & .part-b {
          transform: scaleY(0.66666666666666666666666666666667);
        }
      }

      &:hover .icon::before,
      &:hover .icon::after {
        background-color: color(#1b1c1d whiteness(+10%));
      }

      &:active .icon::before,
      &:active .icon::after {
        background-color: color(#1b1c1d whiteness(+15%));
      }

      &.anim-restart {
        &::before {
          content: "\f01e";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          opacity: 0;
          transform: scale(2);
          transition: opacity 0.3s linear, transform 0.3s ease-out;
        }

        &.restart::before {
          opacity: 1;
          transform: scale(1);
        }

        &.restart .icon {
          opacity: 0;
          transform: scale(0);
        }

        &.pause.restart .icon {
          transform: rotate(90deg) scale(0);
        }
      }
    }
  }

  & > .footer-links {
    position: absolute;
    right: 0;
    top: 0;

    & > li {
      padding: 0 0.75em;
    }

    & > li > a:active,
    & > li > a:hover {
      text-decoration: underline;
    }
  }
}

