.ace-regex .ace_regexp {
  &.ace_comment {
    color: #969896;
  }

  &.ace_escape,
  &.ace_escape.ace_constant,
  &.ace_escape.ace_keyword {
    color: #c0c;
  }

  &.ace_operator {
    &.ace_quantifier,
    &.ace_lazy,
    &.ace_or {
      color: #35f;
    }
  }

  &.ace_anchor {
    color: #930;
  }

  &.ace_group,
  &.ace_back-reference,
  &.ace_lookaround,
  &.ace_look-ahead,
  &.ace_look-behind,
  &.ace_negative-look-ahead,
  &.ace_negative-look-behind {
    color: #090;
  }

  &.ace_character-class,
  &.ace_negation.ace_operator,
  &.ace_set,
  &.ace_subset {
    color: #d70;
  }
}
